org: juanvelo
service: proyecto-arte-tecnologia

provider:
  name: aws
  runtime: python3.12
  memorySize: 1024
  timeout: 30
  iam:
    role: arn:aws:iam::293892040074:role/LabRole
  stage: prod
  region: us-east-1
  environment:
    FLASK_ENV: production
  layers:
    - Ref: PythonRequirementsLambdaLayer

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http:
          path: /
          method: ANY
          cors: true
      - http:
          path: '{proxy+}'
          method: ANY
          cors: true

plugins:
  - serverless-wsgi
  - serverless-python-requirements

custom:
  wsgi:
    app: app.app
  pythonRequirements:
    dockerizePip: non-linux
    zip: true
    slim: true
    strip: false
    layer: true

package:
  patterns:
    - '!node_modules/**'
    - '!.git/**'
    - '!.serverless/**'
    - '!__pycache__/**'
